:root {
    --primary : #d2763b;
    --secondary : #f29c41;
    --background : #4b3627;
    --backup : #b3754f;
    --backup2 : #deb98f;
}


*, *::before, *::after { 
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}


body {
    min-height: 999vh;
    margin: 0;
    padding-top: 70px;
    background-color: var(--secondary);
}


/* Hero section */


.hero {
    position: relative;
    width: 100%;
    height: 90vh;
    margin: 0;
}

.heroBg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    filter: blur(2px);
}

.quoteCont {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: rgb(238, 234, 234);
    font-size: 2.5rem;
    font-weight: 300;
    text-shadow: 0 8px 8px rgba(0,0,0,0.5);
}

.quoteText span{
    font-style: italic;
    color: white;
    font-size: 2.6rem;
}



