:root {
    --primary : #d2763b;
    --secondary : #f29c41;
    --background : #4b3627;
    --backup : #b3754f;
    --backup2 : #deb98f;
}


*, *::before, *::after { 
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}


body {
    min-height: 999vh;
    margin: 0;
    padding-top: 50px;
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0;
}

.heroBg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}